body {
    scroll-behavior: smooth;
}

.fancyBorderRadius {
    border-radius: 50% 50% 59% 41% / 30% 49% 51% 70%
}

::selection {
    background-color: var(--primary);
    color: #000000;
}

:root {
    --neutral-darker: #0C0C0D;
    --neutral-dark: #131313;
    --neutral-less-dark: #272727;
    --neutral-less-light: #6F6F6F;
    --neutral-light: #C8C8C8;
    --neutral-lighter: #e5e5e5;
    --primary: #5FB9B0;
    --secondary: #B292FF;
    --tertiary: #111111;
}

.tilt-animation {
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}

.tilt-animation:hover {
    transform: rotateX(10deg) rotateY(10deg);
}


@tailwind base;
@tailwind components;
@tailwind utilities;